@import "../../styles/colors.scss";

.nav {
	position: fixed;
	top: 0;
	left: -20%;
	width: 20%;
	height: 100vh;
	padding-top: 4rem;
	background-color: $primary;
	border-right: 1px solid $light;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	z-index: 2;

	ul {
		list-style: none;

		li {
			a {
				display: flex;
				align-items: center;
				gap: 0.625rem;
				padding: 1rem;
				color: $light;
				text-decoration: none;
				border-bottom: 1px solid $light;
				transition-duration: 0.2s;

				&:hover {
					background-color: $primary-hover;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.nav {
		left: -60%;
		width: 60%;
	}
}
