.nav {
	position: fixed;
	top: 0;
	left: -20%;
	width: 20%;
	height: 100vh;
	padding-top: 4rem;
	background-color: #4f1271;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;

	ul {
		list-style: none;

		li {
			a {
				display: flex;
				align-items: center;
				gap: 0.625rem;
				padding: 1rem;
				color: #dddddd;
				text-decoration: none;
				border-bottom: 1px solid #dddddd;
				transition-duration: 0.2s;

				&:hover {
					background-color: #4daa57;
					color: #4f1271;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.nav {
		left: -60%;
		width: 60%;
	}
}
