.new {
	text-align: right;
	margin-bottom: 2rem;

	a {
		display: inline-block;
		padding: 0.8rem 1rem;
		background-color: #1f1f1f;
		color: #dddddd;
		border: 1px solid #333333;
		border-radius: 0.312rem;
		text-decoration: none;
		transition-duration: 0.2s;

		&:hover {
			filter: brightness(0.9);
		}

		svg {
			font-size: 1rem;
			padding-top: 3px;
		}
	}
}

.table {
	width: 100%;
	border-collapse: collapse;

	.textCenter {
		text-align: center;
	}

	thead {
		background-color: #1f1f1f;

		th {
			padding: 0.8rem;
		}
	}

	tbody {
		tr {
			background-color: transparent;
			transition-duration: 0.2s;

			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}

			td {
				padding: 0.5rem;
				border-bottom: 1px solid #333333;

				a {
					padding: 0.3rem;
					color: #dddddd;
					transition-duration: 0.2s;

					&:hover {
						color: #4daa57;
					}
				}

				button {
					padding: 0.3rem;
					background-color: transparent;
					color: #dddddd;
					border: none;
					font-size: 0.9rem;
					cursor: pointer;
					transition-duration: 0.2s;

					&:hover {
						color: #dc143c;
					}
				}
			}
		}
	}
}
