$green: #0db124;
$blue: #1c93e3;

$primary: #e20606;
$primary-hover: #cb0505;

$secondary: #1c93e3;

$background: #fefefe;

$text: #121212;

$gray-100: #e3e3e3;
$gray-700: #333;
$gray-800: #222;

$light: #ffffff;
