.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	background-color: #1f1f1f;
	border-bottom: 1px solid #333333;
}

.navbar {
	position: fixed;
	top: 4rem;
	left: 0;
	width: 20%;
	height: calc(100vh - 4rem);
	background-color: #1f1f1f;
	border-right: 1px solid #333333;

	ul {
		list-style: none;

		li {
			a,
			button {
				display: flex;
				align-items: center;
				gap: 0.625rem;
				width: 100%;
				padding: 1rem;
				color: #dddddd;
				text-decoration: none;
				border-bottom: 1px solid #333333;
				transition-duration: 0.2s;

				&:hover {
					background-color: #4daa57;
				}
			}

			button {
				background-color: transparent;
				border: none;
				border-bottom: 1px solid #333333;
				font-size: 1.1rem;
				cursor: pointer;

				&:hover {
					background-color: #dc143c;
				}
			}
		}
	}
}

.mainAdm {
	padding: 6rem 2rem 2rem 22%;

	.btnNewPharmacyOrShift {
		text-align: right;
		margin-bottom: 2rem;

		a {
			display: inline-block;
			padding: 0.8rem 1rem;
			background-color: #1f1f1f;
			color: #dddddd;
			border: 1px solid #333333;
			border-radius: 0.312rem;
			text-decoration: none;
			transition-duration: 0.2s;

			&:hover {
				border-color: #4daa57;
				background-color: #4daa57;
			}

			svg {
				font-size: 1rem;
				padding-top: 3px;
			}
		}
	}

	.btnRefreshWindow {
		padding: 0.8rem 1rem;
		background-color: #1f1f1f;
		color: #dddddd;
		border: 1px solid #333333;
		border-radius: 0.312rem;
		font-size: 1.1rem;
		cursor: pointer;
		transition-duration: 0.2s;

		&:hover {
			background-color: #4daa57;
		}
	}

	.table {
		width: 100%;
		border-collapse: collapse;

		.textCenter {
			text-align: center;
		}

		thead {
			background-color: #1f1f1f;

			th {
				padding: 0.8rem;
			}
		}

		tbody {
			tr {
				background-color: transparent;
				transition-duration: 0.2s;

				&:hover {
					background-color: rgba(255, 255, 255, 0.1);
				}

				td {
					padding: 0.5rem;
					border-bottom: 1px solid #333333;

					a {
						padding: 0.3rem;
						color: #dddddd;
						transition-duration: 0.2s;

						&:hover {
							color: #4169e1;
						}
					}

					button {
						padding: 0.3rem;
						background-color: transparent;
						color: #dddddd;
						border: none;
						font-size: 0.9rem;
						cursor: pointer;
						transition-duration: 0.2s;

						&:hover {
							color: #dc143c;
						}
					}
				}
			}
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-top: 1rem;

		.inputs {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;

			.input {
				display: flex;
				flex-direction: column;
				gap: 0.312rem;

				input,
				select {
					padding: 0.8rem;
					background-color: #1f1f1f;
					color: #dddddd;
					border: 1px solid transparent;
					border-radius: 0.312rem;
					font-size: 1.1rem;
					transition-duration: 0.2s;

					&:focus {
						border-color: #333333;
					}
				}

				input {
					&:disabled {
						cursor: not-allowed;
					}
				}

				small {
					color: #83353c;
					font-size: 0.8rem;
				}
			}
		}

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.312rem;
			padding: 0.8rem;
			background-color: #1f1f1f;
			color: #dddddd;
			border: none;
			border-radius: 0.312rem;
			cursor: pointer;
			font-size: 1.1rem;
			transition-duration: 0.2s;

			&:hover {
				background-color: #4daa57;
			}

			&:disabled {
				cursor: not-allowed;
			}
		}
	}
}
