.title {
	text-align: center;
	font-size: 1.6rem;
}

.timer {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	margin: 2rem 0 3rem;

	.start,
	.end {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;
		padding: 1rem;
		background-color: #1f1f1f;
		border-radius: 0.312rem;
		text-align: center;

		> p {
			font-size: 1.4rem;
			font-weight: bold;
		}

		div {
			font-size: 2rem;
			color: #4daa57;
		}
	}
}

.address {
	border-top: 1px solid #dddddd;
	padding-top: 2rem;

	h2 {
		margin-bottom: 1rem;
		color: #4daa57;
	}

	.maps {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		width: 100%;
		height: 3.125rem;
		margin-top: 2.5rem;
		background-color: #1f1f1f;
		color: #dddddd;
		border: 1px solid #333333;
		border-radius: 0.312rem;
		text-decoration: none;
		font-size: 1.2rem;
		transition-duration: 0.2s;

		&:hover {
			color: #319f4f;
		}

		svg {
			font-size: 2rem;
		}
	}
}

.chat {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.0625rem;
	height: 4.0625rem;
	border-radius: 50%;
	background-color: #48c857;
	color: #dddddd;
	font-size: 2.2rem;
	transition-duration: 0.2s;

	&:hover {
		transform: scale(1.1);
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 1.4rem;
	}

	.timer {
		flex-direction: column;

		.start,
		.end {
			> p {
				font-size: 1.2rem;
			}

			div {
				font-size: 1.5rem;
			}
		}
	}

	.address {
		.maps {
			height: 2.812rem;
			font-size: 1.1rem;

			svg {
				font-size: 1.5rem;
			}
		}
	}

	.chat {
		right: 1rem;
		bottom: 1rem;
		width: 3.4375rem;
		height: 3.4375rem;
		font-size: 1.8rem;
	}
}
