@font-face {
	font-family: ds-digital;
	src: url("../../assets/fonts/DS-DIGIT.TTF");
}

.title {
	text-align: center;
	font-size: 1.6rem;
}

.timer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;

	ul {
		list-style: none;
		display: inherit;
		justify-content: center;
		gap: 1rem;

		li {
			display: inherit;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 15rem;
			height: 10rem;
			background-color: #1f1f1f;
			color: #4daa57;
			border-radius: 0.625rem;
			font-size: 8rem;
			font-family: ds-digital;

			small {
				font-size: 1rem;
				font-family: Montserrat;
			}
		}
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 1.4rem;
	}

	.timer {
		gap: 1.5rem;
		margin-top: 1.5rem;

		ul {
			li {
				width: 15rem;
				height: 8rem;
				border-radius: 0.312rem;
				font-size: 5rem;

				small {
					font-size: 0.8rem;
				}
			}
		}
	}
}
