.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	background-color: #4f1271;
	border-bottom: 1px solid #dddddd;
	z-index: 2;

	button {
		padding: 0.5rem 0.5rem 0.3rem;
		border: none;
		background-color: transparent;
		color: #dddddd;
		font-size: 1.5rem;
		cursor: pointer;
		transition-duration: 0.2s;

		&:hover {
			color: #4daa57;
		}
	}
}
