@import "../../styles/colors.scss";

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.75rem;
	font-size: 0.8rem;
	text-align: center;

	p {
		span {
			svg {
				color: $primary;
			}
		}

		a {
			color: $text;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
