.headerProtected {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 4rem;
	padding: 0 2rem;
	background-color: #1f1f1f;
	border-bottom: 1px solid #333333;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.312rem;
		padding: 0.5rem 1rem;
		background-color: crimson;
		color: #dddddd;
		border: none;
		border-radius: 0.312rem;
		font-size: 1rem;
		cursor: pointer;
		transition-duration: 0.2s;

		&:hover {
			filter: brightness(0.9);
		}
	}
}
