.title {
	font-size: 1.6rem;
	text-align: center;
}

.shifts {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-top: 2rem;

	li {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		border: 1px solid #333333;
		border-radius: 0.312rem;

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 2rem 0;
			color: #1f1f1f;
			background-color: #333333;
			font-size: 5rem;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.312rem;
			width: 100%;
			padding: 1rem;
			background-color: #1f1f1f;
			color: #dddddd;
			font-size: 1.2rem;
			text-decoration: none;
			transition-duration: 0.2s;
			cursor: pointer;

			&:hover {
				filter: brightness(0.9);
			}
		}
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 1.4rem;
	}

	.shifts {
		grid-template-columns: repeat(2, 1fr);

		li {
			span {
				padding: 1.5rem 0;
				font-size: 3rem;
			}

			a {
				padding: 0.8rem;
				font-size: 1.1rem;
			}
		}
	}
}
